Project1/*
Project2/*
Project3/*
Project4/*
Project5/*
Project6/*
Project7/*
Project8/*
Project9/*
Project10/*
Project11/*
Project12/*
Project13/*
Project14/*
Project15/*
Project16/*
Project17/*
Project18/*
Project19/*
Project20/*
Project21/*
Project22/*
Project23/*
Project24/*
Project25/*
Project26/*
13.08ДЗ/.vs
13і08/.vs
16.07.19/.vs
19.08.19 Funk/.vs
CamRob/*
21.08.19 шаблони функцій/.vs
recursuvna funk/.vs
27.08.19/.vs
test/.vs